<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>

        <!-- Allow browser access -->
        <add name="Access-Control-Allow-Origin" value="http://localhost" />

        <!-- Allowed HTTP methods -->
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />

        <!-- IMPORTANT: allow API key -->
        <add name="Access-Control-Allow-Headers" value="Content-Type, X-API-KEY" />

      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
