---
trigger: always_on
---

Always verify that the page files we apply changes to have been properly called in our index.html file and configured to be displayed using our "loadScreen()" function. In case the file has a function or more for it that have been defined it should also be referenced properly within our index.html file for that particular page file.